:root {
  --primaryColor: #219BB6;
  --primaryDark:#148098;
  --compColor:#FFA26B;
  --secondaryColor:#224E57;
  --light:#f4f4f4;
  --medium:#C4C4C4;
  --active:#FFE3D7;
}


/**
 * Body CSS
 */
html,
body {
  height: 100%;
  background-color: var(--light);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dddddd' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.vue-Message-Detail {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
}

/**
 * Layout CSS
 */
.mui-appbar {
  background: var(--light);
}
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#header .day {
  float:right;
  font-size: medium;
  font-weight: bold;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  padding-top: 40px;
  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */
.sidedrawer-toggle {
  cursor: pointer;
  float: right;
  
  /*--*/
  img {
    height: 40px;
    margin: 5px 15px 5px 0;
  }
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Footer CSS
 */
#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}



/**
 * Side drawer CSS
 */
#sidedrawer-brand {

}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer a.section {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

#sidedrawer a.section:hover {
  background-color: #E0E0E0;
}

#sidedrawer a.section + ul > li {
  padding: 6px 0px;
}




/*// MY ROUNDS*/

.container {
  padding:0;
}

.my-rounds .group_hold {
  margin: 0 0 10px 0;
  border-radius: 50px;
  background: var(--primaryColor);
}
.my-rounds .group_hold:nth-child(odd) {
  background: var(--primaryDark);  
}

.my-rounds .mui-panel {
  background: transparent;
  margin: 0;
  box-shadow: none;
  /*--*/
  .group_address {
    display: none;
  } 
}

.my-rounds .mui-panel .time {
  color: var(--light);
  float: right;
}
.my-rounds .mui-panel .time:after {

}
.my-rounds .mui-panel .group_name {
  font-size: 110%;
  color: var(--light);
  text-transform: capitalize;
}

.rounds_logo {
  height: 40px;
  margin: 10px 0 10px 15px;
}

#dateBar {
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;

    span.displayDay {
      display: inline-flex;
      float: left;
      width: 48%;
      text-align: left;
      background-color: white;
      color: var(--primaryColor);
      font-size: 150%;
      padding-left: 15px;
    }
    span.displayDate {
      display: inline-flex;
      float: right;
      width: 52%;
      text-align: right;
      background-color: var(--primaryColor);
      color: var(--light);
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      align-items: center;
      font-size: 120%;
      padding-right: 15px;
      justify-content: flex-end;

      /*--*/

      a:after {
        font-family: FontAwesome;
        content:"\f133";
        cursor: pointer;
        margin-left: 5px;
      }

      /*--*/

      ul.day_selector {
        position: absolute;
        background: var(--light);
        top: -20px;
        z-index: -1;
        left: 0;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        transition: 0.3s;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        /*--*/
        li {
          display: inline-block;
          width: 14.28%;
          float: left;
          text-align: center;
          margin: 0 auto;
          padding: 10px 0;
          color: var(--secondaryColor);
        }
        li:nth-child(odd) {
          background-color: white;
        }

        .activeDay {
          font-weight: bold;
          color: var(--compColor);
        }
      }

      .opened {
        top: 34px!important;
      }

    }

}

.mui-appbar {
  transition: 0.3s;  
  overflow: hidden;
  height: 50px;
}
.slideUpHd {
  height: 0;
  min-height: 0;
}

#map {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  /*--*/
  b {
    padding: 15px;
    display: block;
    color: var(--light);
    background-color: var(--primaryColor);
  }
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
.mapboxgl-ctrl-group > button {
    width: 30px;
    height: 30px;
}