:root {
  --primaryColor: #219BB6;
  --primaryDark:#148098;
  --compColor:#FFA26B;
  --secondaryColor:#224E57;
  --light:#f4f4f4;
  --medium:#C4C4C4;
  --active:#FFE3D7;
}


// BODY

html,
body {
  height: 100%;
  background-color: var(--light);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dddddd' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

// GENERAL

.vue-Message-Detail {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
}

.hidden {
  display: none !important;
}

.non-selectable {
  pointer-events: none;
}

.spinner {
  text-align: center;
  margin: 10px 0;
}

.container {
  padding:0;
}

.rounds-logo {
  height: 40px;
  margin: 10px 0 10px 15px;
}

// LAYOUT

#app,
.app {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  padding-top: 40px;
  /* sticky bottom */
  margin-bottom: -160px;
  //padding-bottom: 160px;
}

// Header

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);

  .day {
    float:right;
    font-size: medium;
    font-weight: bold;
  }

  .mui-appbar {
    background: var(--light);
    transition: 0.3s;
    overflow: hidden;
    height: 50px;
  }
  .sidedrawer-toggle {
    cursor: pointer;
    float: right;

    :hover {
      color: #fff;
      text-decoration: none;
    }

    img {
      height: 40px;
      margin: 5px 15px 5px 0;
    }
  }
  .slide-up-hd {
    height: 0;
    min-height: 0;
  }
  #date-bar {
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;
    cursor: pointer;

    span.display-day {
      display: inline-flex;
      float: left;
      width: calc(100% - 155px);
      text-align: left;
      background-color: white;
      color: var(--primaryColor);
      font-size: 150%;
      padding-left: 15px;
    }
    span.display-date {
      display: inline-flex;
      float: right;
      width: 155px;
      text-align: right;
      background-color: var(--primaryColor);
      color: var(--light);
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      align-items: center;
      font-size: 120%;
      padding-right: 15px;
      justify-content: flex-end;

      .calander-icon {
        margin-left: 3px;
      }
      a:after {
        font-family: FontAwesome;
        content:"\f133";
        cursor: pointer;
        margin-left: 5px;
      }

      ul.day-selector {
        position: absolute;
        background: var(--light);
        top: -20px;
        z-index: -1;
        left: 0;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        transition: 0.3s;
        box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
        border-top: thin solid var(--light);

        li {
          display: inline-block;
          width: 12.5%;
          float: left;
          text-align: center;
          margin: 0 auto;
          padding: 10px 0;
          color: var(--secondaryColor);
        }
        li:nth-child(odd) {
          background-color: white;
        }
        .active-day {
          font-weight: bold;
          color: var(--compColor);
        }
      }

      .opened {
        top: 34px!important;
      }

    }
  }
}

// Drawer

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
  border-right: 1px var(--light) solid;

  &.active {
    transform: translate(200px);
  }
  .brand {

  }
  ul {
    list-style: none;
    padding-left: 35px;
  }

  > ul {
    padding-left: 0px;
  }

  > ul > li:first-child {
    padding-top: 15px;
  }

  a.section {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  a.section:hover {
    background-color: #E0E0E0;
  }

  a.section + ul > li {
    padding: 6px 0px;

    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li.sub-section {
    color: var(--primaryColor);
    padding-left: 5px !important;
    display: block;
  }
  li.sub-section:hover {
    background-color: #E0E0E0;
  }



  #map {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;

    b {
      padding: 15px;
      display: block;
      color: var(--light);
      background-color: var(--primaryColor);
    }
  }
  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right {
    display: none;
  }
  .mapboxgl-ctrl-group > button {
    width: 30px;
    height: 30px;
  }
}

// Footer

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
  background-color: #0288D1;
  color: #fff;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    .modal-container {
      width: 95%;
      height: 95%;
      overflow: scroll;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      font-family: Helvetica, Arial, sans-serif;

      .modal-header h3, h5 {
        margin: 0;
        color: var(--primaryColor);
      }

      .modal-body {
        margin: 0;
      }

      .modal-default-button {
        position: fixed;
        right: 4%;
        top: 3%;
        background-color: var(--primaryColor);
      }

      .modal-enter {
        opacity: 0;
      }

      .modal-leave-active {
        opacity: 0;
      }

      .modal-enter .modal-container,
      .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

// PAGES

// My Rounds

.my-rounds {
  .mui-container-fluid {
    margin-bottom: 180px;
  }
  .task-btn {
    margin: 0 0 10px 0;
    border-radius: 50px;
    background: var(--primaryColor);
    cursor: pointer;
  }
  .task-btn:nth-child(odd) {
    background: var(--primaryDark);
  }
  .mui-panel {
    background: transparent;
    margin: 0;
    box-shadow: none;

    .address {
      display: none;
    }
    .time {
      color: var(--light);
      float: right;
    }
    .name {
      font-size: 110%;
      color: var(--light);
      text-transform: capitalize;
    }
  }

}

// Schedule Week

.schedule-week {

  .week-grid {
    //background: var(--light);
    white-space:nowrap;
    overflow: scroll;
    height: 100%;

    .mui-row {
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 10px;

      h4 {
        margin-top: 0.5rem;
        padding-left: 10px;
      }
    }
  }

  .day-col {
    display: inline-block;
    background-color: white;
    border: thin solid #eee;
    color: grey;
    vertical-align: top;
    padding-bottom: 170px;
    width: 250px;
    overflow-x: hidden;
  }

  .day-rows {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .day-row {
    border-top: thin solid #eee;
    padding: 10px;
    width: 100%;
  }

  .day-row:hover {
    background-color: var(--light);
  }
}
